.App {
  display: flex;
  align-content: center;
  width: 37%;
}

.info-card {
  width: 27%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.textContent {
  height: 20px;
  text-overflow:clip;
}

